# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/
ENV/

# C++ FAISS build
cpp/faiss

# Data
data/raw/
data/processed/
index/

# LM Studio / temporary files
*.log
*.tmp
*.cache

# IDE / OS files
.vscode/
.idea/
*.swp
.DS_Store

# Python packaging
*.egg-info/
dist/
build/
