# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/
ENV/

# Data
data/raw/

# IDE / OS files
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log

# Python cache
*.egg-info/
dist/
build/
